.SumAuth{
    width: 100%; 
    background: linear-gradient(rgb(253, 234, 255), rgb(248, 181, 255));
    height: 70rem;
    display: flex;
    justify-content: center;
}
.login__form{
    display: flex;
    flex-direction: column;
    width: 40rem;
    background-color: rgb(255, 255, 255);
    height: 43rem;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px gray;
    margin-top: 7rem;
}
.authImg{
    width: 200px;
    height: 100px;
    margin-left: 80px;
}
.login_form_item{
    width: 100%;
    margin: .2rem 0;
}
.login_form_item label{
    font-weight: 600;
    font-size: 1.5rem;
}
.login_form_item h1{
    text-align: center;
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
    color: rgb(255, 0, 247);
    padding-bottom: 1rem;
}
.login_form_item input{
    width: 100%;
    height: 3rem;
    border-radius: .5rem;
    border: none;
    box-shadow: 0px 0px 2px rgb(170, 1, 182);
    margin: .3rem 0;
    font-size: 1.6rem;
}

.tan123{
    text-decoration: none;
    color: rgb(132, 0, 142);
    font-size: 14px;
    font-weight: bold;
}
.tan123:hover{
    color: rgb(233, 2, 254) ;
}
::placeholder{
    font-size: 13px;
}
.linkLogin{
    color: gray;
    font-size: 1.3rem;
    text-align: center;
    margin-top: 7rem;
}