.sumtable{
    width: 100%;
    display: flex;
    color: white;
    flex-direction: column;
}
.menucreat{
    background-color: rgb(98, 47, 112);
    font-size: 1.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}
.menucreat>h4{
    width: 20%;
    text-align: center;
    border-right: 1px solid white;
}

.accounts{
    height: 450px; 
    border-top: none;
}
.tablemenu{
    width: 100%;
    display: flex;
    height: 6.5rem;
    background-color: white;
    border: 2px solid rgb(98, 47, 112);
    border-top: none;
    color: black;
    justify-content: center;
    align-items: center;
}
.account_item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
    border-right: 2px solid rgb(98, 47, 112);
    font-size: 1.6rem;
    gap: 2rem;
}

.Creataccounts{
    text-decoration: none;
    color: purple;
    font-weight: bold;
    border: 1px solid purple;
    padding: .5rem;
    border-radius: 5px;
    font-size: 1.6rem;
    margin-left: 1rem;
}
.Creataccounts:hover{
    background-color: purple;
    color: white;
}
.link2{
    margin-top: 20px;
}
.formedit{
  margin: 0px auto;
  width: 360px;
  height: 400px;
}
.Boxname{
    margin: 10px;
    font-family: 'Roboto Mono', monospace;
    color: red;
}
.inpedit{ 
    margin: 10px;
    width: 330px;
    height: 22px;
    border: none;
    box-shadow: 0px 0px 1px rgb(229, 31, 255);
    border-radius: 3px;
    padding: 5px;
}
.submitedit{
    width: 100px;
    margin: 10px;
    height: 25px;
    border: none;
    background-color: purple;
    color: white;
    font-weight: bold;
}
.slog{
    text-align: center;
}
.dis{
    margin: 0px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 0px 0px 5px rgb(0, 170, 255);
}
.delaccount{
    border: none;
    background-color: rgb(255, 3, 3);
    height: 3.5rem;
    width: 7rem;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer;
}

.editaccount{
    border: none;
    background-color: rgb(0, 202, 0);
    height: 3.5rem;
    width: 7rem;
    border: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    cursor: pointer; 
}